{%block header %}
{% include 'sites/parts/header.html' %}
{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="container">
		<div class="row-fluid">
			{%block opatreni %}
			{% include 'sites/parts/varovani.html' %}
			{% endblock %}
			<h2>Aktuální opatření - celostátní</h2>

			<!--Get your own code at fontawesome.com-->
			<!-- t null as nazev_obecmesto, null as nazev_nuts, null as nazev_okres, nazev_kraj -->
			{% block legenda %}
			{% include 'sites/parts/legenda.html' %}
			{% endblock %}
			Pro zobrazení detailu, odkazu, platnosti apod klikněte/tapněte na název opatření. Zobrazeny jsou i opatření, které nabydou platnosti během následujících 7 dní.

        	<div class="alert alert-info">
                Může se stát, že některá nařízení budou restriktivnější, než jiná. Zpravidla jsou třeba stanoveny nějaké podmínky pro celou republiku, ale v místech, kde je situace horší, vydá krajská hygientická stanice nějaké vlastní nařízení.
                V tuto chvíli nemáme jak tento problém ošetřit. Buďte tedy při čtení trochu pesimisté a <b>řiďte se informací nejrestriktinvější</b>. <br>Děkujeme za pochopení!
            </div>

            {%block blocks %}
			{% include 'sites/parts/opatreni_bloky.html' %}
			{% endblock %}
			<br>
			<br>
			{%block disclaimer %}
			{% include 'sites/parts/upozorneni.html' %}
			{% endblock %}
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
{% endblock %}
{%block foot %}
{% include 'sites/parts/footer.html' %}
{% endblock %}