{% extends 'sites/parts/header.html' %}

{% block title %}Potřebujuroušku.cz - Informace o COVID nařízeních: Celostátní opatření{% endblock %}
{% block content %}
    {% load static %}
{% load my_filters %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="main">
	<div class="tight">
		<div class="row-fluid">
			{%block opatreni %}
			{% include 'sites/parts/varovani.html' %}
			{% endblock %}
			<h1 class="display-4 text-center">Zadejte polohu</h1>
		</div>
	</div>
    <br>

    <div class="tight">
			<!-- Actual search box -->
			<div class="form-group has-search">
				<span class="fa fa-search form-control-feedback searchbox"></span>
				<input type="text" id="main_search" class="form-control"  autocomplete="off" placeholder="Praha" aria-describedby="button-addon2" onkeyup="myFunction('main_search', 'dropdown-menu')">
			</div>
			<div class="d-flex align-items-center justify-content-center" id="spinner" style="visibility: hidden"><span class="spinner-border spinner-border-sm" ></span> Načítání..</div>
		</div>
		<div class="wide">
            <div class="my-card-columns card-columns" id="dropdown-menu">
			</div>
		</div>
        <br>

	<div class="wide">

		<div class="card-columns" id="info-tab">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">Zadejte <b>název obce, města, okresu, či kraje</b></h5>
					<p class="card-text text-center">
					<p>  pro vyhledání přehledných  informací o covid nařízeních ve zvoleném místě. Kliknutím na kartu zvolíte místo.</p>
				</div>
			</div>
        <div class="card" >
            <div class="card-body">

                {% if last_check.is_outdated == True %}
                    <h5 class="card-title text-center">Došlo k chybě kontroly aktualizací</h5>

                    <p class="card-text text-center">Poslední last_check úspěšně proběhla <span
                            class="badge badge-info">{{ last_check.last_check_datetime }}</span>, což je před <span
                            class="badge badge-danger">{{ last_check.last_check_timespan_str }} </span></p>
                    <br>
                    <p class="card-text text-center">Z nějakého důvodu aktualizační skript nevrátil už nějakou dobu žádná data.
                        Může za tím být cokoli od toho, že vypadlo připojení k internetu přes možnost, že na ministerstvu zdravotnictví provedli až tak rozsáhlé změny, že to náš aktualizační skript nerozdýchal až po problémy s naší databází. Nutně to ještě nemusí znamenat, že data na stránkách nejsou aktuální - jenom a pouze to v tuto chvíli nedokážeme ověřit.</p>
                    <br>
                {% else %}


                    {% if  last_check.total_changes == 0 %}
                        <h5 class="card-title text-center">Data jsou aktuální!</h5>
                        <p class="card-text text-center">{{ last_check.poznamka }} I tak vás ale může zajímat, jakým
                            způsobem tato data získáváme. Nemáme co tajit, mrkněte na stránku <a href="/aktualnost/">Aktuálnost</a>
                        </p>
                    {% else %}
                        <h5 class="card-title text-center">Do systému jsme ještě nestihli
                            zadat {{ last_check.total_changes }}
                            změn{{ last_check.total_changes|cz_pluralize:"u,y," }}. Usilovně na tom pracujeme.
                    </h5>
                        <p class="card-text text-center">{{ last_check.comment }} <br>Bližší informace ohledně
                            chybějících nařízení i způsobu, jak data zpracováváme a získáváme naleznete na stránce <a
                                    href="/aktualnost/">Aktuálnost</a></p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
			<div class="card">
                <div class="card-body">

                    <h5 class="card-title text-center">Infokarta</h5>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Potvrzených <b>{{ infokarta.potvrzene_pripady_celkem }}</b>, <br>včera
                            <b>+{{ infokarta.potvrzene_pripady_vcerejsi_den }}</b>, dnes
                            <b>+{{ infokarta.potvrzene_pripady_dnesni_den }}</b></li>
                        <li class="list-group-item">Aktivních: <b>{{ infokarta.aktivni_pripady }}</b></li>
                        <li class="list-group-item">Testů včera: <b>{{ infokarta.provedene_testy_vcerejsi_den }}</b> (z
                            toho <b>{{ infokarta.pozitivnich_procenta_vcera }}%</b> pozitivních)
                        </li>
                        <li class="list-group-item">Hospitalizovaných: <b>{{ infokarta.aktualne_hospitalizovani }}</b>
                        </li>
                        <li class="list-group-item">Vyléčení: <b>{{ infokarta.vyleceni }}</b><br>Umrtí:
                            <b>{{ infokarta.umrti }}</b></li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-muted">Aktualizováno {{ infokarta.posledni_update_dat }}, <a
                                href="https://onemocneni-aktualne.mzcr.cz/covid-19">Zdroj</a></small>
                    </div>
                </div>
			</div>
		</div>

    </div>
</div>
{% endblock %}
{%block foot %}
{% include 'sites/parts/footer.html' %}
{% endblock %}