{% extends 'sites/parts/header.html' %}



{% block title %}Potřebujuroušku.cz - Informace o COVID nařízeních:
        {% if  location.NAZEV_OBECMESTO != None  and location.NAZEV_NUTS != None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
             {{location.NAZEV_OBECMESTO}}

        {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS != None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
            {{location.NAZEV_NUTS}}

        {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS == None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
            {{location.NAZEV_OKRES}}

        {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS == None and location.NAZEV_OKRES == None and location.NAZEV_KRAJ != None %}
            {{location.NAZEV_KRAJ}}
        {% endif %}
{% endblock %}
{% block content %}
<div class="wide d-flex justify-content-center ">
  <div class="row">
      <h1 class="display-3  text-center unselectable"><i class="fas fa-search-location"></i> Lokální opatření</h1>
  </div>
</div>
<div class="wide d-flex justify-content-center text-center unselectable">
    <div class="row">
        <h2>
            {% if  location.NAZEV_OBECMESTO != None  and location.NAZEV_NUTS != None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
            <!--<td><i class="fas fa-map-marked-alt" aria-hidden="true"></i></td> -->
                    {{location.NAZEV_KRAJ}} > {{location.NAZEV_OKRES}} > {{location.NAZEV_OBECMESTO}}

            {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS != None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
            <!--<td><i class="fas fa-map-marked-alt" aria-hidden="true"></i></td> -->
                {{location.NAZEV_KRAJ}} > {{location.NAZEV_OKRES}} > {{location.NAZEV_NUTS}}

            {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS == None and location.NAZEV_OKRES != None and location.NAZEV_KRAJ != None %}
            <!--<td><i class="fas fa-map-marked-alt" aria-hidden="true"></i></td>-->
            {{location.NAZEV_KRAJ}} > {{location.NAZEV_OKRES}}

            {% elif  location.NAZEV_OBECMESTO == None  and location.NAZEV_NUTS == None and location.NAZEV_OKRES == None and location.NAZEV_KRAJ != None %}
            <!--<td><i class="fas fa-map-marked-alt" aria-hidden="true"></i></td>-->
            {{location.NAZEV_KRAJ}}
            {% endif %}
        </h2>
    </div>
</div>

<div class="wide d-flex justify-content-center  text-center  unselectable ">
  <div class="row">
        {% block legenda %}
            {% include 'sites/parts/legenda.html' %}
        {% endblock %}
      </div>
</div>


<div class="jumbotron">
	<div class="container">
		<div class="row-fluid">
			{%block opatreni %}
			{% include 'sites/parts/varovani.html' %}
			{% endblock %}

            <p class="text-center">Pro zobrazení detailu, odkazu, platnosti, či výjimek klikněte/tapněte na název opatření. <br>Zobrazuji i nařízení, které nabydou platnosti během následujících 7 dní.</p>
            <br>
            <hr style="height:2px;border:none;color:#eee;background-color:#eee;" />
            <!--<div class="alert alert-info">
                Může se stát, že některá nařízení budou restriktivnější, než jiná. Zpravidla jsou třeba stanoveny nějaké podmínky pro celou republiku, ale v místech, kde je situace horší, vydá krajská hygientická stanice nějaké vlastní nařízení.
                V tuto chvíli nemáme jak tento problém ošetřit. Buďte tedy při čtení trochu pesimisté a <b>řiďte se informací nejrestriktinvější</b>. <br>Děkujeme za pochopení!
            </div>-->
			{%block blocks %}
			{% include 'sites/parts/opatreni_bloky.html' %}
			{% endblock %}

            <br>
            <hr style="height:2px;border:none;color:#eee;background-color:#eee;" />
			{%block disclaimer %}
			{% include 'sites/parts/upozorneni.html' %}
			{% endblock %}
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
{% endblock %}
{%block foot %}
{% include 'sites/parts/footer.html' %}
{% endblock %}
