DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.oracle",
        "NAME": "ORACLE",
        "USER": "username",
        "PASSWORD": "password",
        "HOST": "host",
        "PORT": "1521",
    }
}

SECRET_KEY = "this is my very secret key"