DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'potrebujurousku',
        'USER': 'potrebujurousku-admin',
        'PASSWORD': 'Password',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

SECRET_KEY = "this is my very secret key"

DEV = True
