{% load my_filters %}
<div style="margin-right:10px;">

	{% if zastarala_data.zastarala_data == True %}
        <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#errorModal">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Chyba kontroly!
        </button>
    {% else %}

        {% if kontrola.CELK_ZMEN == 0 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-success btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="icon-ok"></i>Aktuální
            </button>
        {% elif kontrola.CELK_ZMEN > 0 and kontrola.CELK_ZMEN <= 5 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-warning btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="fas fa-exclamation-triangle"></i> {{ kontrola.CELK_ZMEN }} změn{{ kontrola.CELK_ZMEN|cz_pluralize:"a,y," }}
            </button>
        {% else %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ kontrola.CELK_ZMEN }} změn
            </button>
        {% endif %}


	{% endif %}

</div>