{% load my_filters %}
<div style="margin-right:10px;">

	{% if zastarala_data.zastarala_data == True %}
        <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#errorModal">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Chyba kontroly!
        </button>
        <!-- Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Došlo k chybě kontroly aktualizací</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Poslední kontrola úspěšně proběhla <span class="badge badge-info">{{ kontrola.DATE_UPDATED }}</span>, což je před <span class="badge badge-danger">{{ zastarala_data.posledni_uspesna_kontrola_timespan }} </span>
                        <br>
                        <h5>Co se stalo?</h5>
                        <br>
                        <p>Z nějakého důvodu aktualizační skript nevrátil už nějakou dobu žádná data.
                            Může za tím být cokoli od toho, že vypadlo připojení k internetu přes možnost, že na ministerstvu zdravotnictví provedli až tak rozsáhlé změny, že to náš aktualizační skript nerozdýchal až po problémy s naší databází.</p>
                        <br>

                        <p>Možná o chybě ještě nevíme, pomozte nám ji co nejdříve opravit tím, že ji nahlásíte! Děkujeme.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                        <a href="mailto:admin@potrebujurousku.cz?subject=[ERROR report] chyba kontroly aktuálnosti&body=Dobrý den, Chtěl/a bych nahlásit chybu kotrnoly aktuálnosti. S pozdravem, " class="btn btn-primary active">Nahlásit chybu!</a>
                    </div>
            </div>
        </div>

    {% else %}

        {% if kontrola.CELK_ZMEN == 0 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-success btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="icon-ok"></i>Aktuální
            </button>
        {% elif kontrola.CELK_ZMEN > 0 and kontrola.CELK_ZMEN <= 5 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-warning btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="fas fa-exclamation-triangle"></i> {{ kontrola.CELK_ZMEN }} změn{{ kontrola.CELK_ZMEN|cz_pluralize:"a,y," }}
            </button>
        {% else %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ kontrola.CELK_ZMEN }} změn
            </button>
        {% endif %}


        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {% if kontrola.CELK_ZMEN == 0 %}
                        <h5 class="modal-title" id="infoModalLabel">Všechna data jsou aktuální!</h5>
                        {% else %}
                        <h5 class="modal-title" id="infoModalLabel">Do systému jsme ještě nestihli zadat {{  kontrola.CELK_ZMEN }}
                            změn{{ kontrola.CELK_ZMEN|cz_pluralize:"u,y," }}
                        </h5>
                        {% endif %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="badge badge-info">Poslední kontrola {{ kontrola.DATE_UPDATED }}</span>
                        Poslední změny v databázi jsme dělali  {{ posledni_databaze }}.
                        {% if kontrola.CELK_ZMEN == 0 %}
                        Všechna data jsou aktuální!
                        {% else %}
                        Všechny změny jsme ještě nestihli zpracovat. <br>
                        Celkem nám ke zpracování zbývá {{  kontrola.CELK_ZMEN }} změn{{ kontrola.CELK_ZMEN|cz_pluralize:"a,y," }}
                        ({{ kontrola.CHYBI_POCET }} přidat, u {{ kontrola.ZMENA_LINK_POCET }} upravit odkaz a {{ kontrola.ODSTRANIT_POCET }} odebrat.
                        <br>Zajímá vás, co <a href="/aktualnost/">jsme nestihli zpracovat?</a>
                        {% endif %}
                        <br>
                        <br>
                        Detailnější informace včetně způsobu, jak tato data získáváme naleznete na stránce <a href="/aktualnost/">Aktuálnost</a>, či kliknutím na tlačíto "Více informací".
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                        <a  href="/aktualnost/" class="btn btn-primary active" role="button" aria-pressed="true">Více informací >></a>
                    </div>
                </div>
            </div>
        </div>
	{% endif %}


</div>