{% load my_filters %}
<div style="margin-right:10px;">
    {% if last_check.is_outdated == True %}
        <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#errorModal">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Chyba kontroly!
        </button>
    {% else %}

        {% if  last_check.data.total_changes == 0 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-success btn-sm" data-toggle="modal" data-target="#infoModal">
            <i class="icon-ok"></i>Aktuální
            </button>
        {% elif  last_check.data.total_changes > 0 and  last_check.data.total_changes <= 5 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-warning btn-sm" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-exclamation-triangle"></i> {{ last_check.data.total_changes }}
                změn{{ last_check.data.total_changes|cz_pluralize:"a,y," }}
            </button>
        {% else %}
            <!-- Button trigger modal -->
            <button type="button" class="btn nav-link enabled btn-danger btn-sm" data-toggle="modal" data-target="#infoModal">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ last_check.data.total_changes }} změn
            </button>
        {% endif %}


	{% endif %}

</div>