{% block upozorneni %}
<div class="alert alert-info">
	<strong>Neručíme za přesnost a aktuálnost informací.</strong> V rámci zestručnění bylo nutné jisté části zjednodušit. Také nejsme vždy schopni ohlídat platnost kvůli časté proměnlivosti opatření, byť se o to usilovně snažíme.
	Vždy je však uveden odkaz na originální mimořádná opatření MZČR a čas poslední úpravy databáze je k dispozici v sekci <a href="/aktualnost/">Aktuálnost</a>, stejně jako výstup automatické kontroly aktuálnosti.
</div>
{% endblock %}