{% block varovani %}
     <!--<div class="alert alert-danger">
      <b>Noste, prosím, roušky a omezte kontakt s ostatními lidmi!</b> V posledních dnech jsme se dostali na taková čísla nově nakažených, že se reálně můžeme dostat na hranici, kdy už to náš zdravotní systém neutáhne. Začne to lockdownem a může se nedejbože u nás stát i to, co se stalo na jaře v Itálii.
	</div>
	<div class="alert alert-warning">
        <a href="mailto:admin@potrebujurousku.cz?subject=[DOBROVOLNÍCI] Chci pomoct!&body=Dobrý den, Chtěl/a bych pomoct s chodem stránky potrebujurousku.cz. Jak se můžu zapojit? ">
		<b>Hledáme dobrovolníky!</b></a> Mrkněte co všechno <a href="/o-projektu/#podpora">můžete na projektu dělat</a> :)<br>
		English version is on the way! We are looking for either English natives, or translators from Czech to English or someone damn good at English to our team.
	</div>-->
	{% endblock %}
