{% block varovani %}
	<div class="alert alert-warning">
	    <b>Nejnovější nařízení budou zařazena co nejdříve</b>. Za relativně krátký časový úsek na ministerstvu stihli provést změny, které nám rozbily skript na kontrolu aktualizací (již podruhé za poslední týden) a přidat obrovské množství nových nařízení, kterými se právě postupně prokousáváme.
        <br><a href="mailto:admin@potrebujurousku.cz?subject=[DOBROVOLNÍCI] Chci pomoct!&body=Dobrý den, Chtěl/a bych pomoct s chodem stránky potrebujurousku.cz. Jak se můžu zapojit? ">Hledáme dobrovolníky! Pomozte nám :)</a>


	</div>
	{% endblock %}