{% block varovani %}
	<div class="alert alert-warning">
        <br><a href="mailto:admin@potrebujurousku.cz?subject=[DOBROVOLNÍCI] Chci pomoct!&body=Dobrý den, Chtěl/a bych pomoct s chodem stránky potrebujurousku.cz. Jak se můžu zapojit? "><b>Hledáme dobrovolníky!</b></a> Pomocná ruka se vždy hodí. Stránky provozujeme jako skupinka dobrovolníků, ve volných chvílích. Poslední dobou už se ale dostáváme na hranici našich možností co se týče zadávání nových dat. <a href="/o-projektu/#podpora">Co vše můžete dělat?</a>

	</div>
	{% endblock %}