{%block header %}
{% include 'sites/parts/base.html' %}
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      <h1 class="display-5">Špatný požadavek (400)</h1>
      <br>
       <img src="/static/logo/rouska_logo.png" class="rounded mx-auto d-block" alt="rouska_logo">

       <p>Něco se nepovedlo. Určitě jste požadavek zadali správně? Použijte, prosím, navigační menu v horní liště, nebo se vraťte zpět na <a href="/">úvodní stránku</a>.
      </p>
       <p>Máte-li podezření, že došlo k chybě, můžete nám tuto chybu <a href="mailto:admin@potrebujurousku.cz">nahlásit</a></p>
   </div>
</div>

{% endblock %}
{%block foot %}
{% include 'sites/parts/footer.html' %}
{% endblock %}