{%block header %}
{% include 'base.html' %}
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      <h1 class="display-5">Stránka nebyla nenalezena (404)</h1>
      <br>
       <img src="/static/rouska_logo.png" class="rounded mx-auto d-block" alt="rouska_logo">

       <p>Ať hledáme jak hledáme, stránku nalézt nemůžeme. Použijte, prosím, navigační menu v horní liště, nebo se vraťte zpět na <a href="/">úvodní stránku</a>.
      </p>
       <p>Máte-li podezření, že došlo k chybě, můžete nám tuto chybu <a href="mailto:admin@potrebujurousku.cz">nahlásit</a></p>
   </div>
</div>


{% endblock %}
{%block foot %}
{% include 'footer.html' %}
{% endblock %}