body
{
    padding:0px;
    background-color: #e9ecef;
}
html,
body {
  height: 100%;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

@media (max-width: 768px) {

   /* full-width, dropdown-menu, btn-group-vertical{
        width:100%;
    }*/
}
p {
  margin-bottom: 1.5em !important;
}
.btn
{
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: normal;
    word-break: break-word;
}
#dropdown-menu
{
    padding: 0 !important;
}
.cell-breakAll {
   word-break: break-all;
}

.jumbotron {
    padding: 1rem 1rem !important;
}