body {
    padding: 0;
    background-color: #fbfbfb;
}

html,
body {
    height: 100%;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

@media (max-width: 768px) {
   /* full-width, dropdown-menu, btn-group-vertical{
        width:100%;
    }*/
}

#myicon {
    width: 40px !important;
    height: 40px !important;
}

p {
    margin-bottom: 1.5em !important;
}

.btn {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    white-space: normal;
    word-break: break-word;
}

#dropdown-menu,
#search_results {
    padding: 0 !important;
    display: list-item;
    list-style: none;
}

.cell-breakAll {
   word-break: break-all;
}

.jumbotron {
    padding: 1rem 1rem !important;
    background-color: transparent;
}

.bg-dark {
    background-color: #262729 !important;
    padding: 0.6rem 1rem;
}

.link-unstyled,
a:focus {
    color: #CCC !important;
    text-decoration: none;
}

.nav-link:active {
    color: #CCC !important;
    text-decoration: underline !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #CCC;
}


/* Styles for wrapping the search box */

card {
    border-radius: 16px !important;
}

.tight {
    width: 60%;
    margin: 20px auto;
}

.wide {
    width: 90%;
    margin: 20px auto;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

::placeholder {
    color: #c4c5c4 !important;
}

#spinner {
    margin-top: 15px;
}

.searchbox {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}


/* please forgive me
@media (min-width: 1464px) and (max-width: 439px) {
    #update-indicator-mobile
    {
        display: none;
    }
    #update-indicator-pc
    {
        display: flex;
    }
}*/


/* please forgive me */

.dropdown-toggle {
    display: block;
}

.fa-2x {
   padding: 10px 0;
}

@media (max-width: 1463px) and (min-width: 440px) {
    #update-indicator-mobile {
        display: flex;
    }

    #update-indicator-pc {
        display: none;
    }
}

@media (min-width: 1464px) {
    #update-indicator-mobile {
        display: none;
    }

    #update-indicator-pc {
        display: flex;
    }
}

@media (max-width: 439px) {
    #update-indicator-mobile {
        display: none;
    }

    #update-indicator-pc {
        display: flex;
    }
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.badge-right {
    float: right !important;
    display: flex;
    margin-left: auto;
}

.close {
    margin-left: 0 !important;
}