{%block header %}
{% include 'base.html' %}
{% endblock %}



{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class="row-fluid">

        {%block opatreni %}
        {% include 'varovani.html' %}
        {% endblock %}


        <h1 class="display-5">Zadejte polohu</h1>
          <br>
        <p>Můžete vložit název města, obce, kraje, jednotky nuts3 (nikdy jste o ní neslyšeli? nevadí, o nic nepřiházíte).
        V reálném čase se vám zobrazí návrhy. Kliknutím na návrh se zobrazí detaily narízeních kvůli COVID-19 ve vybrané oblasti. </p>
        <br>
          <div class="input-group mb-3">
              <input id="main_search" type="search" autocomplete="off" class="form-control" placeholder="Praha" aria-describedby="button-addon2"  onkeyup="myFunction('main_search', 'dropdown-menu')">
              <div class="input-group-append">
                <!-- <button class=" btn  btn-outline-success" type="button" id="button-addon2">Vyhledat!</button> -->

              </div>
            </div>
           <div  class="container-fluid btn-group-vertical" id="dropdown-menu">
           </div>






      </div>
      </div>
    </div>


{% endblock %}


{%block foot %}
{% include 'footer.html' %}
{% endblock %}
