{%block header %}
{% include 'base.html' %}
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      {%block disclaimer %}
         {% include 'upozorneni.html' %}
     {% endblock %}
      <h1 class="display-5">O projektu</h1>
      <br>
      <p>Tento projekt vznikl za cílem maximálně zjednodušit nařízení vydaná kvůli zamezení šíření COVID-19. Nařízení se mění (nebo alespoň v době vzniku projektu měnila) takřka ze dne na den a udržet přehled o tom, kde je zrovna dnes nařízeno nosit roušky, je takřka nadlidským úkolem.
         Nyní ale máte eso v rukávu a žádné další nařízení vás již nezaskočí. S naší stránkou můžete vyhledávat podle názvu obce, města, obce s rozšířenou působností, okresu, či kraje.

      <br>
      <h2 class="display-5">Podpořte projekt</h2>
      Pomoct nám můžete hlavně tím, že budete stránku šířit dál. Pošlete ji všem známým, všem kamarádům!
      <br>
      <b>Chcete pomoct víc?</b> Můžete pomoci třeba se zpracováním dat. V současnosti většina zpracování dat probíhá ručně a přestože zde máme určitou úroveň automatizace, člověk je třeba vždy (hlavně proto, že náš stát neumí publikovat data ve strojově čitelné podobě).
      Můžete samozřejmě poslat nějakou tu korunu i na provoz serverů, či na podporu dobrovolníků stojících za projektem. Nebo se rovnou dobrovolníkem stát, to je taky prima.
      <br>
      <br>
      <h2 class="display-8">Narazili jste na chybu?</h2>
      Napište nám  <a href="mailto:admin@potrebujurousku.cz">email</a> a v co nejbližší možné době ji opravíme. Díky za nahlášení!
      <br>
      <br>
      <h2 class="display-8">Přispěvatelé</h2>
       <ul><li>Tomáš Dostál</li>
           <li>Karolína Štenclová</li>
           <li>Ondřej Vajda</li>
       </ul>
   </div>
</div>

{% endblock %}
{%block foot %}
{% include 'footer.html' %}
{% endblock %}