{%block header %}
{% include 'base.html' %}
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      <h1 class="display-5">O projektu</h1>
      <br>
      <p>Tento projekt vznikl za cílem maximálně zjednodušit nařízení vydaná kvůli zamezení šíření COVID-19. Nařízení se mění (nebo alespoň v době vzniku projektu) takřka ze dne na den a udržet přehled o tom kde ano a kde ne je pomalu nadlidský úkol.
         Nyní ale máte eso v rukávu a žádné další nařízení vás již nezaskočí.

          Od doby, co vznikla původní myšlenka se i ministerstvo zdravostictví trochu vzpamatovalo a místo původních naskenovaných PDFek začali na web publikovat i pro lidi čitelnější informace (ve formě interaktivní mapy). Přestože zatím mapu nemáme, máme i tak co nabídnout.
          S naší stránkou můžete vyhledávat podle názvu obce, města, obce s rozšířenou působností, okresu, či kraje.
      </p>
       <p>Ohledně roušek jako takových zastáváme takový názor, že přestože se v tom nedá dýchat, tak nějaký vliv to má a k něčemu to dobré je. Je vhodné je nosit i přes to, že to není například státem nijak doporučené, či nařízené.
          Současná vláda jde spíše tím směrem, kam volá její voličská základna a přecejenom je populárnější chtít roušky zrušit, než vymýšlet další opatření. </p>
      <br>

      <h2 class="display-5">Podpořte projekt</h2>
      Pomoct nám můžete hlavně tím, že budete stránku šířit dál. Pošlete ji všem známým, všem kamarádům!
      <br>
      <b>Chcete pomoct víc?</b> Můžete pomoci třeba se zpracováním dat. V současnosti většina zpracování dat probíhá ručně a přestože zde máme určitou úroveň automatizace, člověk je třeba vždy (hlavně proto, že náš stát neumí publikovat data ve strojově čitelné podobě).
      Můžete samozřejmě poslat nějakou tu korunu i na provoz serverů, či na podporu dobrovolník(a)u stojících za projektem.
      <br>
      <br>
      <h2 class="display-8">Narazili jste na chybu?</h2>
      Napište nám  <a href="mailto:admin@potrebujurousku.cz">email</a> a v co nejbližší možné době ji opravíme. Díky za nahlášení!
      <br>
      <br>
      <h2 class="display-8">Přispěvatelé</h2>
      Tomáš Dostál
   </div>
</div>
</div>
</div>
{% endblock %}
{%block foot %}
{% include 'footer.html' %}
{% endblock %}