{%block header %}
{% include 'base.html' %}
{% endblock %}



{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">O projektu</h1>
          <br>
        <p>Tento projekt vznikl za cílem maximálně zjednodušit nařízení kvůli zamezení šíření COVID-19. Nařízení se mění takřka ze dne na den a udržet přehled o tom kde ano a kde ne je pomalu nadlidský úkol.
            Nyní ale máte eso v rukávu a žádné další nařízení vás již nezaskočí.</p>
        <br>
        <h2 class="display-5">Podpořte projekt</h2>
          <p></p>

   </div>






      </div>
      </div>
    </div>


{% endblock %}


{%block foot %}
{% include 'footer.html' %}
{% endblock %}
